body {
    margin: 0;
    padding: 0;
    font-family: 'NotoSansKR-Regular', sans-serif;
    color: #666;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.75rem;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 10px;
    font-family: 'NotoSansKR-SemiBold', sans-serif;
}

img {
    vertical-align: middle;
}

a {
    color: #666;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.linebreaking {
    display: block;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
}

header .gnb {
    max-width: 1920px;
    font-size: 17px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 15px 25px;
    box-sizing: border-box;
}

header img {
    height: 40px;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

header .list_menu {
    display: flex;
}

header a {
    color: #fff;
}

header .list_menu li {
    position: relative;
    width: 180px;
    text-align: center;
    width: 120px;

}

header .list_menu>li {
    padding-bottom: 15px;
}

header .list_menu>li a:hover {
    color: #002c5f;
}

header .icon_box {
    display: none;
}

.list_menu>li>.sub-list {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    position: absolute;
    top: 100%;
}

.list_menu>li:hover>.sub-list {
    visibility: visible;
    opacity: 1;
}

.list_menu>li:hover>.sub-list li {
    height: 35px;
}

.gnb .icon_box {
    font-size: 20px;
    color: #fff;
}

.icon_box i {
    margin-right: 25px;
}

.mobile {
    display: none;
}

.slide_box {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: #fff;
}

.swiper .swiper-pagination {
    position: absolute;
    bottom: 10%;
    color: #fff;
}

.slide_box .img_box {
    position: absolute;
    right: 0;
    top: 85%;
    z-index: 999;
}

.slide_box .img_box img {
    object-fit: cover;
    z-index: 999;
}

.swiper-slide .txt_box {
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 9999;
    color: #fff;
    font-family: 'NotoSansKR-Bold', sans-serif;
}

.swiper-slide .txt_box p:nth-child(1) {
    font-family: 'NotoSansKR-SemiBold', sans-serif;
    font-size: 36px;
    margin: 0;

}

.swiper-slide .txt_box p:nth-child(2) {
    font-size: 48px;
    margin: 0;
}

.slide_box .img-box {
    z-index: 999;
    width: 500px;
    position: absolute;
    right: 0;
    top: 73%;
}

.slide_box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 999;
}

.model_container {
    position: relative;
    width: 100%;
}

.model_container p {
    text-align: center;
}

.model_container .intro {
    margin-bottom: 50px;
}

.model_txt {
    position: absolute;
    width: 250px;
    top: 52%;
    left: 48%;
    transform: translateY(-50%);

}

.model_txt ul {
    display: flex;
}

.model_txt ul li {
    padding-right: 15px;
    position: relative;
}

.model_txt ul li::before {
    position: absolute;
    content: '';
    top: 30%;
    right: 15%;
    width: 2px;
    height: 13px;
    background-color: #666;
}

.model_txt ul li:nth-child(4):before {
    display: none;
}

.model {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2%
}

.model .model_img1 .img_box {
    width: 28.6458vw;
    height: 29.6875vw;
    min-width: 270px;
    min-height: 270px;

}

.model .model_img2 .img_box {
    width: 16.1458vw;
    height: 14.8438vw;
    min-width: 150px;
    min-height: 150px;
}

.model .model_img3 .img_box {
    width: 16.1458vw;
    height: 14.8438vw;
    min-width: 150px;
    min-height: 150px;
}

.model .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.model .model_img1 p {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translateY(-50%);
    font-size: 2.5rem;
}

.model_container .slide_button .bar {
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
}

.model_container .slide_button .bar1 {
    top: 50%;
    left: 10%;
    content: '';
    border-top: 5px solid #002c5f;
    border-right: 5px solid #002c5f;
    transform: rotate(225deg);
}

.model_container .slide_button .bar2 {
    top: 50%;
    right: 10%;
    content: '';
    border-bottom: 5px solid #002c5f;
    border-left: 5px solid #002c5f;
    transform: rotate(225deg);
}

.model_container .circles {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 40px 0px 80px 0px;
}

.circles .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    /* background-color: #002c5f; */
    border-radius: 50%;
    border: #002c5f 2px solid;
    transition: background-color 0.5s ease;
}

.electric {
    width: 100%;
}

.electric>p {
    text-align: center;
    padding-bottom: 10px;
}

.electric_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.electric_box .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.electric_box .img_txt {
    background-color: #f7f3f2;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
    box-sizing: border-box;
}

.electric_box .img_txt h2 {
    text-align: left;
    padding-top: 0;
}

.electric_box .img_txt p:nth-of-type(1) {
    padding-bottom: 10px;
}

.electric_box .img_txt p:nth-of-type(2) {
    width: 75%;
}

.electric_box button {
    margin-top: 40px;
    width: 130px;
    height: 40px;
    background-color: #002c5f;
    color: #fff;
    border: none;
    cursor: pointer;
}

.electric_box button:hover {
    background-color: #FDB833;
    font-weight: bold;
}

.brand {
    width: 100%;
}

.brand p {
    text-align: center;
}

.brand p:nth-child(1) {
    font-family: 'NotoSansKR-SemiBold', sans-serif;
    font-size: 2.75rem;
}

.brand .img_boxs {
    max-width: 1920px;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    gap: 1%;
    box-sizing: border-box;
}

.brand .img_boxs .img_box {
    margin-top: auto;
    padding: 0 5px;
}

.brand .img_boxs .img_box1 {
    width: 19.5vw;
    height: 32.0vw;
}

.brand .img_boxs .img_box2 {
    width: 25.3vw;
    height: 16.5vw;
}

.brand .img_boxs .img_box3 {
    width: 21.4vw;
    height: 46.5vw;
}

.brand .img_boxs .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overview {
    width: 100%;
}

.overview>ul {
    display: flex;
    justify-content: center;
    gap: 60px;
    border-bottom: #eee 1px solid;
}

.overview>ul li {
    padding-bottom: 5PX;
    box-sizing: border-box;
    cursor: pointer;

}

.overview>ul li:hover {
    color: #002c5f;
    border-bottom: #002c5f 1px solid;
    margin-bottom: -1px;

}

.card_boxs {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
    box-sizing: border-box;
}

.car_card {
    color: #666;
    border: 1px solid #666;
    max-width: 445px;
    max-height: 842px;
    padding: 20px 25px;
    box-sizing: border-box;
    text-align: center;
}

.car_card h3 {
    font-size: 24px;
}

.car_card .img_box {
    padding: 16px;
    width: 258px;
    height: 146px;
    margin: auto;

}

.car_card .img_box img {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.car_card .navi ul li {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.car_card .navi ul li a {
    text-decoration: none;
    margin-bottom: 10px;
}

.car_card .navi ul li a:nth-child(2) {
    color: #969696;
}

.price {
    text-align: right;
    padding-right: 35px;
    font-size: 28px;
    box-sizing: border-box;
}

.price span {
    font-size: 16px;
}

.button_box {
    text-align: center;
}

.button_box button {
    margin-top: 25px;
    width: 130px;
    height: 50px;
    border: none;
}

.button_box button:nth-child(1) {
    border: 1px solid #666;
    background-color: transparent;
    box-sizing: border-box;
}

.button_box button:nth-child(2) {
    background-color: #002c5f;
    color: #fff;
}

.more {
    display: none;
}

.drive_banner {
    overflow: hidden;
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding: 30px auto;
}

.drive_banner .list {
    display: flex;
}

.drive_banner .list>li {
    max-width: 420px;
    max-height: 420px;
    white-space: nowrap;
    font-size: 18px;
    padding: 20px;
}

.drive_banner .list>li p:nth-child(1) {
    font-family: 'NotoSansKR-SemiBold', sans-serif;
    font-size: 28px;
    padding-bottom: 10px;
}

@keyframes flowRolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.drive_banner .list .img_box {
    width: 400px;
    height: 400px;
}

.drive_banner .list .img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.n_news {
    background: url(./imgaes/back2.png) no-repeat right top;
    background-size: contain;
}

.video_container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 0;
}

.video_container iframe {
    position: absolute;
    width: 65%;
    height: 65%;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    border: none;
}

.app {
    padding-bottom: 50px;
}

.app h2 {
    color: #fff;
}

.app p:nth-of-type(1) {
    color: #fff;
    padding: 10px 0 30px;
    text-align: center;
}

.control_box {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 0px 90px;
}

.control_box .box {
    max-width: 372px;
    min-width: 180px;
    width: 100%;
    height: 15.4688vw;
    background-color: #eee;
    position: relative;
}

.control_box .box .img_box {
    position: absolute;
    top: 10%;
    left: 10%;
}

.control_box .box .img_box .txt {
    margin-top: 5px;
}

.control_box .box i {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
}

footer {
    width: 100%;
    background-color: #eee;
    margin-top: 200px;
    padding: 50px 180px;
    box-sizing: border-box;
}

footer .main_menu {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .main_menu>li>a {
    font-size: 18px;
    font-family: 'NotoSansKR-Bold', sans-serif;
}

footer .sub-menu li {
    margin-top: 12px;
}

footer .sub-menu li:nth-child(1) {
    margin-top: 25px;
}

.foot {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.foot .pack {
    text-align: right;
}

.foot .pack p {
    margin: 0;
}

.foot .pack .icons {
    font-size: 30px;
}

.foot .pack .icons i {
    margin-left: 15px;
}

@media screen and (max-width: 1400px) {
    .model_txt {
        top: 50%;
    }

    .model .model_img1 p {
        top: 54%;
    }

    .card_boxs {
        max-width: 1400px;
        width: 100%;
        padding: 0 40px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .car_card {
        flex-basis: calc(50% - 8px);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        padding-top: 100px;
        font-size: 2.375rem;
    }

    .model {
        gap: 1%;
    }

    .model_txt {
        top: 44%;
    }

    .model .model_img1 p {
        top: 48%;
        font-size: 1.875rem;
    }

    .model_container .slide_button .bar1 {
        left: 5%;
    }

    .model_container .slide_button .bar2 {
        right: 5%;
    }

    .circles .circle {
        width: 8px;
        height: 8px;
    }

    .card_boxs {
        max-width: 1024px;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .car_card {
        max-width: 380px;
        max-height: 812px;
        padding: 20px 25px;
        box-sizing: border-box;
        text-align: center;
        flex-basis: calc(50% - 8px);
        margin-bottom: 10px;
    }

    .drive_banner {
        overflow: hidden;
        display: flex;
        max-width: 1024px;
        width: 100%;
        padding: 30px auto;
    }

    .drive_banner .list>li {
        max-width: 350px;
        max-height: 350px;
        white-space: nowrap;
        font-size: 16px;
        padding: 20px;
    }

    .drive_banner .list .img_box {
        width: 310px;
        height: 310px;
    }
}

@media screen and (max-width: 780px) {
    h2 {
        font-size: 1.75rem;
    }

    header .list_menu {
        display: none;
    }

    header .icon_box {
        display: block;
    }

    header .gnb {
        max-width: 1024px;
        width: 100%;
        font-size: 17px;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 15px 25px;
        box-sizing: border-box;
    }

    .swiper-slide .txt_box p:nth-child(1) {
        font-size: 28px;
    }

    .swiper-slide .txt_box p:nth-child(2) {
        font-size: 38px;
    }

    .model_container {
        position: relative;
    }

    .model {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .model_container .intro {
        margin-bottom: 60px;
    }

    .model_txt {
        position: absolute;
        top: 19%;
        left: 12%;
    }

    .model .model_img1 p {
        position: absolute;
        top: 22%;
        left: 12%;
    }

    .model .model_img {
        padding: 3px;
    }

    .model .model_img1 .img_box {
        width: 51.08vw;
        height: 51.08vw;
        min-width: 255px;
        min-height: 255px;
    }

    .model .model_img2 .img_box {
        width: 29.8vw;
        height: 25.5vw;
        min-width: 130px;
        min-height: 130px;
    }

    .model .model_img3 .img_box {
        width: 33.8vw;
        height: 30.5vw;
        min-width: 135px;
        min-height: 135px;
    }


    .drive_banner {
        max-width: 780px;
        width: 100%;
        padding: 20px auto;
    }

    .drive_banner .list>li {
        max-width: 280px;
        max-height: 280px;
        white-space: nowrap;
        font-size: 14px;
        padding: 15px;
    }

    .drive_banner .list .img_box {
        width: 240px;
        height: 240px;
    }

    .overview>ul {
        gap: 45px;
    }

    .car_card {
        max-width: 310px;
        max-height: 782px;
        padding: 10px 15px;
        flex-basis: calc(50% - 8px);
        margin-bottom: 10px;
    }

    .car_card .img_box {
        padding: 15px;
        width: 238px;
        height: 136px;
    }

    .button_box button {
        margin-top: 15px;
        width: 110px;
        height: 45px;
    }

    .electric_box .img_txt {
        padding: 50px;
    }

    .electric_box .img_txt p:nth-of-type(2) {
        width: 90%;
    }

    .app p:nth-of-type(1) {
        color: #666;
    }

    .control_box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
    }

    .control_box .box {
        flex-basis: calc(50% - 20px);
        margin: 5px 0;
    }

    .control_box .box .img_box img {
        width: 28px;
        height: 28px;
        object-fit: contain;
    }

    footer {
        margin-top: 100px;
        padding: 30px 80px;
        box-sizing: border-box;
    }

    .foot .logo {
        width: 150px;
        height: 60px;
    }

    .foot .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 680px) {
    .model_txt {
        position: absolute;
        top: 21%;
        left: 12%;
    }

    .model .model_img1 p {
        position: absolute;
        top: 24%;
        left: 12%;
    }
}

@media screen and (max-width: 580px) {
    .model_txt {
        position: absolute;
        top: 22%;
        left: 12%;
    }

    .model .model_img1 p {
        position: absolute;
        top: 25%;
        left: 12%;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        padding-top: 60px;
    }

    .swiper-slide .txt_box p:nth-child(1) {
        font-size: 22px;
    }

    .swiper-slide .txt_box p:nth-child(2) {
        font-size: 28px;
    }

    .model_container .intro {
        font-size: 14px;
    }

    .model_container .slide_button .bar1 {
        width: 20px;
        height: 20px;
        top: 88%;
        left: 24%;
    }

    .model_container .slide_button .bar2 {
        width: 20px;
        height: 20px;
        top: 88%;
        right: 24%;
    }

    .electric>p {
        font-size: 14px;
    }

    .electric_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .brand p {
        padding: 0 50px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .brand .img_boxs {
        max-width: 480px;
        width: 100%;
        padding: 20px 30px;
        display: flex;
        justify-content: center;
        gap: 1%;
        box-sizing: border-box;
    }

    .brand .img_boxs .img_box1 {
        width: 115.8vw;
        height: 34.0vw;
    }

    .brand .img_boxs .img_box2 {
        width: 141.68vw;
        height: 18.5vw;
    }

    .brand .img_boxs .img_box3 {
        width: 123.4vw;
        height: 48.5vw;
    }

    .overview>ul {
        gap: 25px;
    }

    .card_boxs {
        max-width: 470px;
        width: 100%;
        padding: 0 3px;
        box-sizing: border-box;
        flex-wrap: wrap;
    }

    .car_card {
        max-width: 200px;
        max-height: 582px;
        padding: 5px;
        flex-basis: calc(50% - 11px);
        margin-bottom: 10px;
    }

    .car_card .img_box {
        padding: 10px;
        width: 158px;
        height: 86px;
    }

    .car_card .img_box img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .car_card h3 {
        font-size: 21px;
        margin: 8px;
    }

    .price {
        margin: 5px;
        padding-right: 0;
        text-align: center;
    }

    .button_box button {
        margin-top: 5px;
    }

    .drive_banner .list>li p:nth-child(1) {
        font-size: 21px;
        padding-bottom: 5px;
    }

    .video_container iframe {
        position: absolute;
        width: 90%;
        height: 90%;
        top: 0%;
        left: 50%;
        transform: translate(-50%);
        border: none;
    }

    .car_card .navi ul li a {
        text-decoration: none;
        margin-bottom: 7px;
        font-size: 14px;
    }

    .control_box {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2%;
    }

    .control_box .box {
        width: 200px;
        height: 200px;
        background-color: #eee;
        margin: 5px 0;
    }

    footer {
        margin-top: 70px;
        padding: 30px 30px;
        box-sizing: border-box;
    }
}
